@import "variables";

@mixin xs { @media (max-width: #{$xs - 1px}) { @content; } }
@mixin sm { @media (min-width: #{$xs}) and (max-width: #{$sm - 1px}) { @content; } }
@mixin md { @media (min-width: #{$sm}) and (max-width: #{$md - 1px}) { @content; } }
@mixin lg { @media (min-width: #{$md}) and (max-width: #{$lg - 1px}) { @content; } }
@mixin xl { @media (min-width: #{$lg}) { @content; } }

.ui-table-container {
	min-width: 100%;
	overflow: auto;
	padding-bottom: 5px;
	position: relative;
	table {
		width: 100%;
		&.borderless {
			&, thead, tbody, tfoot, tr, th, td {
				border: none !important;
			}
		}
		th, td {
			&.fit, &[fit] {
				white-space: nowrap;
				width: 1%;
			}
			&.grow, &[grow] { width: 100%; }
		}
		&.ui-table {
			border-collapse: collapse;
			&.striped tr:nth-child(even) { background-color: $stripe-color; }
			&.bordered {
				box-shadow: 0 0 0 1px $border-color;
				th, td {
					border-top: solid 1px $border-color;
					border-left: solid 1px $border-color;
					border-right: solid 1px $border-color;
				}
			}
			&.dense {
				thead tr { height: unset; }
				th, td { padding: 2px; }
			}
			&.hoverable tbody tr:hover { background-color: $hover-color; }
			&.fixed { table-layout: fixed; }
			th, td { padding: $cell-padding; }
			thead {
				border-bottom: solid 2px $border-color;
				tr {
					height: 56px;
					th { vertical-align: middle; }
				}
			}
			tbody {
				td, th { border-bottom: solid 1px $border-color; }
			}
			span.sortable {
				display: flex;
				align-items: center;
				cursor: pointer;
				.ui-table-sort-icon {
					font-size: 16px;
					margin-right: 0.25rem;
					-webkit-transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
					transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
				}
				&.sorted.desc .ui-table-sort-icon {
					-webkit-transform: rotate(-180deg);
					transform: rotate(-180deg);
				}
				&:not(.sorted) .ui-table-sort-icon { opacity: 0; }
				&:not(.sorted):hover .ui-table-sort-icon { opacity: 0.5; }
			}
		}
	}
	.ui-table-pagination {
		display: flex;
		align-items: center;
		justify-content: space-between;
		@include xs { flex-direction: column-reverse; }
		.ui-max-select, .ui-page-select {
			padding: $cell-padding;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		.ui-select select, button {
			height: 2em;
			min-width: 28px;
			font-size: 12px;
			margin-top: 5px;
			border-radius: 4px;
			border: solid 1px $border-color;
			background-color: $pagination-control-color;
			&:disabled, &[disabled] { cursor: not-allowed; }
		}
		.ui-select select {
			margin-left: $cell-padding;
			min-width: 42px;
		}
		.ui-page-select {
			min-width: 240px;
		}
	}
	&.loading {
		table, .ui-table-pagination {
			-webkit-filter: blur(2px);
			filter: blur(2px);
		}
	}
	.ui-table-loading {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: $loading-overlay;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}