@import "variables";

.ui-table-container {
	min-width: 100%;
	overflow: auto;
	padding-bottom: 5px;
	table {
		width: 100%;
		&.borderless {
			&, thead, tbody, tfoot, tr, th, td {
				border: none !important;
			}
		}
		th, td {
			&.fit, &[fit] {
				white-space: nowrap;
				width: 1%;
			}
			&.grow, &[grow] { width: 100%; }
		}
		&.ui-table {
			border-collapse: collapse;
			&.striped tr:nth-child(even) { background-color: $stripe-color; }
			&.bordered {
				box-shadow: 0 0 0 1px $border-color;
				th, td {
					border-top: solid 1px $border-color;
					border-left: solid 1px $border-color;
					border-right: solid 1px $border-color;
				}
			}
			&.dense {
				thead tr { height: unset; }
				th, td { padding: 2px; }
			}
			&.hoverable tbody tr:hover { background-color: $hover-color; }
			&.fixed { table-layout: fixed; }
			th, td { padding: 8px; }
			thead {
				border-bottom: solid 2px $border-color;
				tr {
					height: 56px;
					th { vertical-align: middle; }
				}
			}
			tbody {
				td, th { border-bottom: solid 1px $border-color; }
			}
		}
	}
}