
$border-color: #DDD !default;
$stripe-color: #FAFAFA !default;
$hover-color: #EEEEEE !default;
$pagination-control-color: #FFFFFF !default;

$cell-padding: 8px !default;

$xs: 600px !default;
$sm: 960px !default;
$md: 1264px !default;
$lg: 1904px !default;
$xl: 0px !default;
